/* Reset.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: #007bff;
}

table {
  width: 100%;
  border-collapse: collapse;
}
input{
  outline: none;
  border: none;
}


input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}
@font-face {
  font-family: 'myFont';
  src: url('./fonts/AaBanRuoKaiShu-2.ttf');
}

body {
  font-family: 'myFont' !important;
}
